<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap-theme.min.css">
		<link rel="stylesheet" type="text/css" href="/resources/style-reviews.css">
		<script type="text/javascript" src="/jquery/jquery.js"></script>
		<script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>
		<script type="text/javascript" src="/resources/reviews.js"></script>
		<script type="text/javascript" src="/mustache/mustache.min.js"></script>
	</head>
	<body>
	<!-- 
	{{#list}}
	* {{.}}
	{{/list}} -->
	<div class="container">
		<h1 class="page-header">{{book.name}} <span class="author">- {{book.author}}</span></h1>
		<input class="userId" type = "hidden" value = "{{userId}}">
		<input class="bookId" type = "hidden" value = "{{book.id}}">
		<div class="row jumbotron">

			<div id="reviewsList">
			<div class="page-header">
				<h4>Reviews:</h4>
			</div>
			<div class="list-group">
				{{#reviews}}
				<div class="listItem list-group-item">
					<div class="itemName">
						<div class="date">{{date}} </div> 
						<div>
						<span class="review"> {{content}} </span>
						<span>
							<button class="btn btn-danger btn-sm revUserId" type = "submit" value = "{{user_id}}" name="{{_id}}">
								<span class="glyphicon glyphicon-remove-circle"></span>
							</button>
						</span>
						</div>
						<!-- <span class="glyphicon glyphicon-info-sign" id="revIcon{{_id}}"" data-toggle="tooltip" title="See description"></span>
						{{#review}}
						{{/review}}
						{{^review}}
							<script type="text/javascript"> $('#revIcon{{_id}}').remove()</script>
						{{/review}} -->
					</div>
					
				</div>
				{{/reviews}}
				</div>
			</div>
			
			<br><br>
		</div>
	</div>


	</body>
</html>