<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/resources/style.css">
		<script src="/jquery/jquery.js"></script>
		<script type="text/javascript" src="/resources/login.js"></script>
	</head>
	<body>
	<h2>{{user}}'s list</h2>
	<br><!-- 
	{{#list}}
	* {{.}}
	{{/list}} -->

	<div id="usersList" border='dotted'>

		{{#usersBooks}}
		<div class="listItem">
			<div class="itemName">{{name}}</div>
			<form action = "/return" method = "POST" class="form">
				<input type = "hidden" value = "{{_id}}" name="item">
				<input type = "submit" value = "Return" name="{{_id}}">
			</form>
<!-- 			<form action = "/editElem" method = "POST">
				<input type = "hidden" value = "{{.}}" name="item">
				<input type = "submit" value = "Edit" name="{{.}}">
			</form> -->
		</div>
		{{/usersBooks}}
	</div>


<br>---<br><br>
	<div id="fullList" border='dotted'>

		{{#allBooks}}
		<div class="listItem">
			<div class="itemName">{{name}}</div>
			<form action = "/rent" method = "POST" class="form">
				<input type = "hidden" value = "{{_id}}" name="item">
				<input type = "submit" value = "Rent" name="{{_id}}">
			</form>
		</div>
		{{/allBooks}}
	</div>
	
	<br><br>
	
<!-- 	<div>
	<form action = "/add" method = "POST">
		New item: <input type = "text" name = "newItem" class="input">
		<input type = "submit" value = "Add">
	</form>
	</div> -->

	</body>
</html>