<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/resources/style-list.css">
		<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap-theme.min.css">
		<script type="text/javascript" src="/jquery/jquery.js"></script>
		<script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>
		<script type="text/javascript" src="/resources/list.js"></script>
		<script type="text/javascript" src="/mustache/mustache.min.js"></script>
	</head>
	<body>
	<!-- 
	{{#list}}
	* {{.}}
	{{/list}} -->
	<div class="container">
		<h1 class="page-header">{{user}}'s list</h1>
		<br>
		<div class="row jumbotron">

			<div id="usersList" class="col-sm-7" border='dotted'>
				<div class="page-header">
				<h4>Your rented books</h4>
				</div>
				<div class="list-group">
					{{#usersBooks}}
					<div class="listItem list-group-item">
						<div class="itemName">{{name}}</div>
						<!-- <form action = "/return" method = "POST" class="form"> -->
							<input type = "hidden" value = "{{_id}}" name="item">
							<!-- value = "Return" name="{{_id}}" type = "submit" -->
							<button id="return" class="return btn btn-default btn-sm" value="{{_id}}">
								Return <span class="glyphicon glyphicon-triangle-right"></span>
							</button>
						<!-- </form> -->
					</div>
					{{/usersBooks}}
				</div>
			</div>


			<div id="fullList" class="col-sm-5" border='dotted'>
			<div class="page-header">
				<h4>All books</h4>
			</div>
			<div class="list-group">
				{{#allBooks}}
				<div class="listItem list-group-item">
					<div class="itemName">{{name}}</div>
					<form action = "/rent" method = "POST" class="form">
						<input type = "hidden" value = "{{_id}}" name="item">
						{{#rentBy}}
						<button class="btn btn-primary btn-sm .btn-default disabled" type = "submit" value = "Rent" name="{{_id}}" disabled>
							<span class="glyphicon glyphicon-triangle-left"></span> Not avaliable
						</button>
						{{/rentBy}}
						{{^rentBy}}
						<button class="btn btn-primary btn-sm .btn-default active" type = "submit" value = "Rent" name="{{_id}}">
							<span class="glyphicon glyphicon-triangle-left"></span> Rent
						{{/rentBy}}
						</button>
					</form>
				</div>
				{{/allBooks}}
				</div>
			</div>
			
			<br><br>
		</div>
	</div>


	<div class="modal fade" id="question" role="dialog">
		<div class="modal-dialog">
		  <!-- Modal content-->
			<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body">
			<p>Would you like to add review?</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		  		<button type="button" class="btn btn-default noReview" data-dismiss="modal">No</button>
		  		<button type="button" class="btn btn-success addReview" id="questionYes" data-dismiss="modal">Yes</button>
			</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="review" role="dialog">
		<div class="modal-dialog">
		  <!-- Modal content-->
			<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body">
			<div class="form-group">
				<label for="usr">Your review:</label>
				<textarea class="form-control reviewText" rows="5" id="comment"></textarea>
			</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default noReview" data-dismiss="modal">Return without review</button>
			  	<button type="button" class="btn btn-success withReview" id="finishSummary" data-dismiss="modal">Add review</button>
			</div>
			</div>
		</div>
	</div>


	</body>
</html>